.task {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    cursor: pointer;
}

.task-list {
    gap: 13px;
    width: 551px;
    padding: 9px 13px 9px 26px;
    background-color: #ECECEC;
}

.task-list .settings-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin: 5px;
}

.task-list .sorting-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.task-list__icon {
    width: 11px;
    height: 8px;
}

.task-list .task {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 9px 2px 8px;
    background-color: #D1D0D0;
}

.task-list .task__name {
    font-weight: 700;
}

.task-list .task .task-wrapper {
    display: flex;
    flex-direction: column;

    gap: 7px;
}

.task-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 7px;
}

.task-list .task__description {
    font-size: 16px;
}

.task-list .task__checkbox {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 10px 0 0 0;
    opacity: 0;
}


.task-list .task__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    align-self: flex-end;
}

.task-list .task__checkbox + label:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 3px solid #717171;
    border-radius: 0.25em;
    margin: 17px 0 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17.86px 14.21px;
    cursor: pointer;
}

.task-list .task__checkbox:checked + label:before {
    background-image: url("../../assets/icons/checked.svg");
}

.task-list .task__datetime {
    font-size: 10px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #717171;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    font-size: 22px;
    background-color: #D1D0D0;
    cursor: pointer;
}

.shadow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    width: 400px;
    height: 500px;
    cursor: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}


.buttonDiv {
    display: flex;
    justify-content: end;
    align-items: center;
}

.buttonCompleted {
    font-weight: bold;
    width: 80px;
    height: 30px;
}
